body {
    background-color:  hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 300px;
    min-width: 280px;
    border-radius: 7px;
    padding: 30px;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    width: clamp(80px, 25vw, 100px);
    max-width: 100px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.social-links {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 2px;
}

button {
    height: 40px;
    margin: 6px;
    border-radius: 7px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-weight: 600;
    border: none;
    transition-duration: 1s;
    user-select: none;
    outline: none;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
}

@media (max-width: 375px) {  
    .container {
        max-width: 90%;
        padding: 20px;
    }
    
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 12px;
    }

    button {
        font-size: 12px;
        height: 35px;
    }
}
